*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
        body{
            margin:0;
            padding:0;
            background:#fff;
            -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
        }
.chat-page{
  width: 100%;
  height: 100%;
  display: none;
}
#messages{
 position: absolute;
 left:0;
 top: 4rem;
 width:100%;
 height:calc( 100% - 8.2rem );
 background: transparent;
 overflow-y:auto;
 padding:10px;
 box-sizing: border-box;
 scroll-behavior: smooth;
 border-bottom: 1px solid #efefef;
}
#sendMsg{
 position: fixed;
 left:0;
 bottom:0;
 width: 100%;
 height: 60px;
 background: #fff;
 display: flex;
 align-items: center;
 justify-content: space-between ;
 padding-left: 10px;
 padding-right: 10px;
 gap: 5px;
}
        #dltMsg{
          background: none;
          border: 0;
          color: #fff;
        }
        #msgTxt{
            width: 100%;
            height: 35px;
            padding-left:10px;
            border-radius: 2rem;
            border: 0;
            outline: 0;
            background: #efefef;
        }
        #msgBtn{
            color: #0137FF;
            margin-right: 1rem;
            font-size: 30px;
            background: none;
            border: none;
        }
        .outer{
            width:100%;
            margin-top:10px;
            display:flex;
            position: relative;
        }
        #chekMark{
          position: absolute;
          bottom: -12px;
          right: -5px;
          color: #808080;
        }

        #inner{
           position: relative;
            font-size: 14px;
        }
        #inner:active{
          opacity: 0.50;
        }
        .me{
           padding-bottom: 15px;
            padding-left: 11px;
            padding-right: 11px;
            padding-top: 11px;
            background: #0137FF;
            color: #fff;
            border-top-left-radius: 17px;
            border-bottom-left-radius: 17px;
            border-bottom-right-radius: 17px;
            border-top-right-radius: 3px;
            max-width: 80%;
            margin-top: 8px;
        }

        .notMe{
          padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            background:#efefef;
            color:#000;
            border-top-right-radius: 17px;
            border-bottom-left-radius: 17px;
            border-bottom-right-radius: 17px;
            border-top-left-radius: 3px;
            position: relative;
            max-width: 80%;
        }
.msgStatus{
  position: absolute;
  right: 10px;
  bottom: -16px;
  color: #808080;
  font-size: 11px;
  font-weight: normal;
}
.header{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
}
.header i{
  margin-left: 7px;
  font-size: 30px;
  color: #0137FF;
}
.profile{
  margin-left: 10px;
  height: 40px;
  width: 40px;
  background: #efefef;
  border-radius: 50%;
}
.userName h4{
  margin-left: 15px;
  font-weight: 420;
  font-size: 15px;
}
.userName p{
  margin-left: 15px;
  color: #808080;
  font-size: 11px;
  
}
.featere{
  margin-left: auto;
  margin-right: 1rem;
  gap: 1rem;
  display: flex;
}
.featere i{
  font-size: 25px;
}
.main-ui{
  width: 100%;
  height: 100%;
}
.main-page-header{
  width: 100%;
  height: 6rem;
  background: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.main-header-top{
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.header-menu{
  width: 42px;
  height: 42px;
  background: #efefef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.header-menu i{
  font-size: 28px;
}
.main-header-top h4{
  font-weight: 420;
  margin-left: 10px;
  font-size: 18px;
}
.main-header-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header-bottom p{
  color: #808080;
  font-size: 11px;
}
.search-input{
  width: 90%;
  height: 2.5rem;
  margin-top: 20px;
  margin-left: 5%;
  display: flex;
  align-items: center;
  padding: 15px;
  background: #efefef;
  border-radius: 3rem;
}
.search-input i{
  color: #808080;
  font-size: 20px;
}
.search-input input{
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: transparent;
}
.all-user-chat-box{
  margin-top: 1rem;
  width: 100%;
}
.user-chat{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.user-chat:active{
  background: #efefef;
}
.user-profile{
  background: #efefef;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.usrNam-and-msg-content{
  margin-left: 15px;
}
.usrNam-and-msg-content h4{
  font-size: 16px;
}
.usrNam-and-msg-content p{
  color: #808080;
  font-size: 13px;
}
.accoun-create-page{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  position: absolute;
}
.seen-status{
  color: blue;
}
.msgTime{
  position: absolute;
  font-size: 9px;
  bottom: 3px;
  right: 9px;
}
#msgTime{
  color: #808080;
  position: absolute;
  font-size: 11px;
  bottom: 5px;
  left: 8px;
}
.action-btn{
  position: fixed;
  width: 55px;
  height: 55px;
  background: #0137FF;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  bottom: 2.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-btn:active{
  opacity: 0.60;
}
.action-btn i{
  color: #fff;
  font-size: 2.1rem;
}
.opachity-bg{
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  background: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  height: 100%;
 }

.new-chat-card.show {
  transform: scale(1);
  opacity: 1;
}
.new-chat-card{
  width: 75%;
  height: 20rem;
  border-radius: 13px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  background: #fff;
  padding: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
            transform: scale(0);
            opacity: 0;
}
.chat-card-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-card-header h4{
  margin-left: auto;
}
.chat-card-header i{
  margin-left: auto;
  font-size: 1.8rem;
}
.chat-card-header i:active{
  opacity: 0.50;
}
.userName-box{
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
}
.userName-box input{
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.startChatBtn{
  padding: 8px;
  width: 100%;
  background: #0137FF;
  color: #fff;
  border: 0;
  border-radius: 2rem;
  font-weight: 420;
  margin-top: 1rem;
}
.startChatBtn:active{
  opacity: 0.60;
}
.udow-text{
  margin-top: 15px;
  font-size: 12px;
  color: #808080;
  text-align: center;
}
